body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}

#game {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 97px;
}